Projects/MTO-station/Flows backup/bkp_180922.txt
[{"id":"2e4c5566.f31c22","type":"tab","label":"MTO-Web","disabled":false,"info":""},{"id":"704e3471.a2533c","type":"tab","label":"MQTT-MTO-Arduino","disabled":false,"info":""},{"id":"51a52a27.a02fbc","type":"tab","label":"MQTT-Intrusion","disabled":false,"info":""},{"id":"56548b4c.aaf3d4","type":"tab","label":"HUE","disabled":false,"info":""},{"id":"910f4315.fcced","type":"darksky-credentials","z":"","key_identifier":"DarkSky"},{"id":"e562cca5.8aae","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"TempDB","usetls":false,"tls":""},{"id":"2f6bd9bc.646166","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":"humiditeDB","usetls":false,"tls":""},{"id":"7c633203.a6e7f4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"pression","name":"pressionDB","usetls":false,"tls":""},{"id":"65051756.c499c8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"pluie","name":"pluieDB","usetls":false,"tls":""},{"id":"e5a4419a.f82888","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"windd","name":"winddDB","usetls":false,"tls":""},{"id":"ac17f12f.208518","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"nuage","name":"nuageDB","usetls":false,"tls":""},{"id":"b231998c.9ae508","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"winds","name":"windsDB","usetls":false,"tls":""},{"id":"45e1e3fe.208abc","type":"mqtt-broker","z":"","name":"Arduino","broker":"192.168.1.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e2c3b296.df5658","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"airquality","name":"airqualityDB","usetls":false,"tls":""},{"id":"4aaf3784.0b186","type":"twitter-credentials","z":"","screen_name":"coelan_automat"},{"id":"c844c0.e5861b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"130947b6.82bcc","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"24b197b5.229bd","type":"ui_tab","z":"","name":"Supervision Alarme","icon":"dashboard","order":2},{"id":"a8ad3294.52d748","type":"ui_group","z":"","name":"Capteur Infra-rouge","tab":"24b197b5.229bd","order":1,"disp":true,"width":"6","collapse":false},{"id":"62c03ae1.c4c0c4","type":"hue-bridge","z":"","name":"Hue Bridge","bridge":"192.168.1.51","key":"G1j2FOR33XIN3XiXjr-uk8XEnH0oB5RVX8Onvt9q","interval":"3000"},{"id":"f8abfb2d.600dd8","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.10","key":"xxxx","interval":"3000"},{"id":"3b873c38.2812fc","type":"ui_tab","z":"","name":"Lumières","icon":"dashboard","order":1},{"id":"94630c6d.6b1f28","type":"ui_group","z":"","name":"Bureau","tab":"3b873c38.2812fc","order":1,"disp":true,"width":"6","collapse":false},{"id":"fab35c5.aa46aa","type":"ui_group","z":"","name":"Salon","tab":"3b873c38.2812fc","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f1805cd.77b744","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.0.10","key":"xxxx","interval":"3000"},{"id":"aae23fbd.a582d8","type":"inject","z":"2e4c5566.f31c22","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["de66f218.cfb4b","d2c4a77d.37d5f8"]]},{"id":"de66f218.cfb4b","type":"darksky","z":"2e4c5566.f31c22","darksky":"910f4315.fcced","name":"Demain-Paris","lon":"2.3488000","lat":"48.8534100","date":"","time":"","mode":"node","lang":"fr","units":"si","x":340,"y":120,"wires":[["ab9b1eb7.0f9988","eca6151d.2461d8","9ac0c0fe.a02a88","52f82a14.deffec","5dc394f.128316c","7c690f51.2d8528","2e697489.189f94"]]},{"id":"d2c4a77d.37d5f8","type":"openweathermap","z":"2e4c5566.f31c22","name":"Current-Paris","wtype":"current","lon":"","lat":"","city":"Paris","country":"FR","language":"fr","x":330,"y":480,"wires":[["f65233e5.c9d2f8","6e6d7525.c9106c","6f50e45.b0bf49c","864828e7.b2d86"]]},{"id":"f65233e5.c9d2f8","type":"function","z":"2e4c5566.f31c22","name":"TempC","func":"msg.payload = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["f8107a50.7fc77"]]},{"id":"6e6d7525.c9106c","type":"function","z":"2e4c5566.f31c22","name":"HumiditeC","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["9d90e3d0.f952a"]]},{"id":"6f50e45.b0bf49c","type":"function","z":"2e4c5566.f31c22","name":"PressionC","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["ef64c934.a322c8"]]},{"id":"864828e7.b2d86","type":"function","z":"2e4c5566.f31c22","name":"WindSC","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":600,"wires":[["e893dcf2.10e878"]]},{"id":"ab9b1eb7.0f9988","type":"function","z":"2e4c5566.f31c22","name":"TempMaxF","func":"msg.payload = msg.payload.maxtemp;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["2f8b0e7f.b4edea"]]},{"id":"9ac0c0fe.a02a88","type":"function","z":"2e4c5566.f31c22","name":"HumiditeF","func":"msg.payload = msg.payload.humidity *100;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["8100cb1c.27adb8"]]},{"id":"52f82a14.deffec","type":"function","z":"2e4c5566.f31c22","name":"WindSF","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["915b40ac.6a05e","ba20d3ce.2c3268"]]},{"id":"5dc394f.128316c","type":"function","z":"2e4c5566.f31c22","name":"WindDF","func":"msg.payload = msg.payload.winddirection;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["2f476299.7c978e"]]},{"id":"ba20d3ce.2c3268","type":"debug","z":"2e4c5566.f31c22","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":60,"wires":[]},{"id":"eca6151d.2461d8","type":"function","z":"2e4c5566.f31c22","name":"TempMinF","func":"msg.payload = msg.payload.mintemp;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["e70676cc.b83c68"]]},{"id":"f8107a50.7fc77","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e562cca5.8aae","name":"tempc_paris","measurement":"tempc_paris","precision":"","retentionPolicy":"","x":890,"y":480,"wires":[]},{"id":"9d90e3d0.f952a","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"2f6bd9bc.646166","name":"humc_paris","measurement":"humc_paris","precision":"","retentionPolicy":"","x":890,"y":520,"wires":[]},{"id":"ef64c934.a322c8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"7c633203.a6e7f4","name":"pressionc_paris","measurement":"pressionc_paris","precision":"","retentionPolicy":"","x":900,"y":560,"wires":[]},{"id":"e893dcf2.10e878","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"b231998c.9ae508","name":"windsc_paris","measurement":"windsc_paris","precision":"","retentionPolicy":"","x":890,"y":600,"wires":[]},{"id":"9ec1b902.f4f4c8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e5a4419a.f82888","name":"winddc_paris","measurement":"winddc_paris","precision":"","retentionPolicy":"","x":890,"y":640,"wires":[]},{"id":"2f8b0e7f.b4edea","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e562cca5.8aae","name":"tempmaxf_paris","measurement":"tempmaxf_paris","precision":"","retentionPolicy":"","x":900,"y":120,"wires":[]},{"id":"8100cb1c.27adb8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"2f6bd9bc.646166","name":"humf_paris","measurement":"humf_paris","precision":"","retentionPolicy":"","x":890,"y":200,"wires":[]},{"id":"915b40ac.6a05e","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"65051756.c499c8","name":"windsf_paris","measurement":"windsf_paris","precision":"","retentionPolicy":"","x":890,"y":240,"wires":[]},{"id":"2f476299.7c978e","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e5a4419a.f82888","name":"winddf_paris","measurement":"winddf_paris","precision":"","retentionPolicy":"","x":890,"y":280,"wires":[]},{"id":"e70676cc.b83c68","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e562cca5.8aae","name":"tempminf_paris","measurement":"tempminf_paris","precision":"","retentionPolicy":"","x":900,"y":160,"wires":[]},{"id":"7c690f51.2d8528","type":"function","z":"2e4c5566.f31c22","name":"PluieF","func":"msg.payload = msg.payload.precipitation;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["905119a.f7419e8"]]},{"id":"2e697489.189f94","type":"function","z":"2e4c5566.f31c22","name":"NuagesF","func":"msg.payload = msg.payload.clouds;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["176256b9.6f1759"]]},{"id":"905119a.f7419e8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"65051756.c499c8","name":"pluief_paris","measurement":"pluief_paris","precision":"","retentionPolicy":"","x":890,"y":320,"wires":[]},{"id":"176256b9.6f1759","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"ac17f12f.208518","name":"nuagef_paris","measurement":"nuagef_paris","precision":"","retentionPolicy":"","x":890,"y":360,"wires":[]},{"id":"1f2c52ca.7202dd","type":"mqtt in","z":"704e3471.a2533c","name":"MTO_Arduino/humidite","topic":"stationUno/humidite","qos":"1","broker":"45e1e3fe.208abc","x":180,"y":120,"wires":[["c60ea786.5bc56"]]},{"id":"edcdb5db.3ae4b","type":"debug","z":"704e3471.a2533c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":60,"wires":[]},{"id":"47a54bdd.9f0ee4","type":"influxdb out","z":"704e3471.a2533c","influxdb":"e562cca5.8aae","name":"tempArd_paris","measurement":"tempArd_paris","precision":"","retentionPolicy":"","x":980,"y":180,"wires":[]},{"id":"98f9f7bc.5f87e8","type":"influxdb out","z":"704e3471.a2533c","influxdb":"2f6bd9bc.646166","name":"humArd_paris","measurement":"humArd_paris","precision":"","retentionPolicy":"","x":980,"y":120,"wires":[]},{"id":"81b2630a.173c7","type":"mqtt in","z":"704e3471.a2533c","name":"MTO_Arduino/temperature","topic":"stationUno/temperature","qos":"2","broker":"45e1e3fe.208abc","x":190,"y":180,"wires":[["f7c3afa1.325438"]]},{"id":"28a6c28a.b5b37e","type":"mqtt in","z":"704e3471.a2533c","name":"MTO_Arduino/ppm","topic":"stationUno/ppm","qos":"1","broker":"45e1e3fe.208abc","x":170,"y":240,"wires":[["8b63926d.9cfb1"]]},{"id":"463a22e.ad1825c","type":"influxdb out","z":"704e3471.a2533c","influxdb":"e2c3b296.df5658","name":"ppmArd_paris","measurement":"ppmArd_paris","precision":"","retentionPolicy":"","x":980,"y":240,"wires":[]},{"id":"c60ea786.5bc56","type":"function","z":"704e3471.a2533c","name":"Float -> Number","func":"var new_payload = parseFloat(msg.payload);\nvar new_msg = { \"payload\" : new_payload};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["98f9f7bc.5f87e8"]]},{"id":"f7c3afa1.325438","type":"function","z":"704e3471.a2533c","name":"Float -> Number","func":"var new_payload = parseFloat(msg.payload);\nvar new_msg = { \"payload\" : new_payload};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["e30085e5.e801e8"]]},{"id":"8b63926d.9cfb1","type":"function","z":"704e3471.a2533c","name":"Float -> Number","func":"var new_payload = parseFloat(msg.payload);\nvar new_msg = { \"payload\" : new_payload};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["8e5f8599.22f708"]]},{"id":"ef462a6e.4e90c","type":"mqtt in","z":"51a52a27.a02fbc","name":"Capteur_PIR","topic":"alarme/intrusion","qos":"2","broker":"45e1e3fe.208abc","x":150,"y":200,"wires":[["1254d771.4e6761","da3f7adc.bbb608"]]},{"id":"d0821803.b729c","type":"twitter out","z":"51a52a27.a02fbc","twitter":"4aaf3784.0b186","name":"Tweet_alarme_intrusion","x":1010,"y":200,"wires":[]},{"id":"27a8a26b.75be46","type":"delay","z":"51a52a27.a02fbc","name":"Delay 5 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":770,"y":200,"wires":[[]]},{"id":"a2c5802a.f5c238","type":"function","z":"51a52a27.a02fbc","name":"TimeStamp","func":"msg.payload = \"ALARME !!!\" + \" - \" + new Date().toLocaleString();\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["27a8a26b.75be46"]]},{"id":"a9944f51.e94368","type":"e-mail","z":"51a52a27.a02fbc","server":"smtp.gmail.com","port":"465","secure":true,"name":"coelan.automation@gmail.com","dname":"Mail coelan.automation","x":1010,"y":280,"wires":[]},{"id":"37899ca7.ff7b04","type":"delay","z":"51a52a27.a02fbc","name":"Delay 5 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":770,"y":280,"wires":[[]]},{"id":"25fd0af1.f1239e","type":"function","z":"51a52a27.a02fbc","name":"Mail report","func":"msg = {\n    payload : \"ALARME INTRUSION DECLENCHEE !!!\" + \" - \" + new Date().toLocaleString(),\n    topic : \"Alarm Email report !!!\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["37899ca7.ff7b04"]]},{"id":"1254d771.4e6761","type":"function","z":"51a52a27.a02fbc","name":"Flow On/Off","func":"var state = context.get(\"state\") || \"ARMED-ON\";\n\n// Display initial state status\nif(state == \"ARMED-ON\"){\n    node.status({fill:\"green\",shape:\"dot\",text:state});\n}else{\n    node.status({fill:\"red\",shape:\"ring\",text:state});\n}\n\nif(msg.topic == \"state\"){\n    context.set(\"state\",msg.payload);\n    state = msg.payload;\n    // update status\n    if(state == \"ARMED-ON\"){\n        node.status({fill:\"green\",shape:\"dot\",text:state});\n    }else{\n        node.status({fill:\"red\",shape:\"ring\",text:state});\n    }\n}else{\n    if(state == \"ARMED-ON\"){\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["a2c5802a.f5c238","25fd0af1.f1239e","1d4ffac1.e36f45","35e12b9f.7bac1c"]]},{"id":"92dc609a.f0775","type":"ui_switch","z":"51a52a27.a02fbc","name":"","label":"Alarme armée","group":"a8ad3294.52d748","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"state","style":"","onvalue":"ARMED-ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"ARMED-OFF","offvalueType":"str","officon":"","offcolor":"","x":160,"y":260,"wires":[["1254d771.4e6761"]]},{"id":"aefd686.bf2a698","type":"debug","z":"51a52a27.a02fbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":60,"wires":[]},{"id":"da3f7adc.bbb608","type":"delay","z":"51a52a27.a02fbc","name":"Delay 10 sec","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":120,"wires":[[]]},{"id":"b9b442d7.e5683","type":"mqtt out","z":"51a52a27.a02fbc","name":"","topic":"supervision/intrusion","qos":"1","retain":"","broker":"45e1e3fe.208abc","x":620,"y":120,"wires":[]},{"id":"14b9fcb2.980383","type":"inject","z":"51a52a27.a02fbc","name":"ARMED-OFF","topic":"","payload":"ARMED-OFF","payloadType":"str","repeat":"","crontab":"50 13 * * *","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["92dc609a.f0775"]]},{"id":"892040d6.9b6cd8","type":"inject","z":"51a52a27.a02fbc","name":"ARMED-init","topic":"","payload":"ARMED-OFF","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":360,"wires":[["92dc609a.f0775"]]},{"id":"399e1eed.c2019a","type":"ui_text","z":"51a52a27.a02fbc","group":"a8ad3294.52d748","order":0,"width":0,"height":0,"name":"","label":"Last event: ","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":340,"wires":[]},{"id":"1d4ffac1.e36f45","type":"moment","z":"51a52a27.a02fbc","name":"","topic":"","input":"payaload","inputType":"msg","inTz":"Europe/Paris","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD-MM-YYYY - HH:mm:ss","locale":"fr_FR","output":"payload","outputType":"msg","outTz":"Europe/Paris","x":620,"y":340,"wires":[["399e1eed.c2019a"]]},{"id":"4ffa6817.fb30b8","type":"hue-light","z":"56548b4c.aaf3d4","name":"Bureau","bridge":"62c03ae1.c4c0c4","lightid":"2","colornamer":true,"x":600,"y":60,"wires":[["ec7fdf40.030928"]]},{"id":"fc13562b.fee8e8","type":"hue-scene","z":"56548b4c.aaf3d4","name":"Lumineux","bridge":"62c03ae1.c4c0c4","sceneid":"5ksTq4QkgecJ5Qh","x":320,"y":140,"wires":[["4ffa6817.fb30b8"]]},{"id":"cf9592a7.5f95a","type":"hue-scene","z":"56548b4c.aaf3d4","name":"Atténué","bridge":"62c03ae1.c4c0c4","sceneid":"xMjDyxx-QwF-yuQ","x":320,"y":180,"wires":[["4ffa6817.fb30b8"]]},{"id":"2cd3a798.975f3","type":"hue-scene","z":"56548b4c.aaf3d4","name":"Veilleuse","bridge":"62c03ae1.c4c0c4","sceneid":"cFOGwTN3206vbMm","x":320,"y":220,"wires":[["4ffa6817.fb30b8"]]},{"id":"be8f25e3.6eb92","type":"hue-light","z":"56548b4c.aaf3d4","name":"Hue white lamp 1","bridge":"62c03ae1.c4c0c4","lightid":"1","colornamer":true,"x":650,"y":280,"wires":[[]]},{"id":"ec65e744.426a7","type":"hue-scene","z":"56548b4c.aaf3d4","name":"Lumineux Salon","bridge":"62c03ae1.c4c0c4","sceneid":"uwZqkvsHCYzUTFP","x":340,"y":360,"wires":[["be8f25e3.6eb92"]]},{"id":"877e5343.4df3d8","type":"hue-scene","z":"56548b4c.aaf3d4","name":"Atténué Salon","bridge":"62c03ae1.c4c0c4","sceneid":"YMYimWbPblGKHh0","x":340,"y":400,"wires":[["be8f25e3.6eb92"]]},{"id":"18f94b9e.ce3e14","type":"hue-scene","z":"56548b4c.aaf3d4","name":"Veilleuse Salon","bridge":"62c03ae1.c4c0c4","sceneid":"HvYDH23TiaaZCRc","x":340,"y":440,"wires":[["be8f25e3.6eb92"]]},{"id":"cb9079c7.cee418","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"94630c6d.6b1f28","order":0,"width":"1","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":60,"wires":[["4ffa6817.fb30b8","ec7fdf40.030928"]]},{"id":"7f3a75d7.9557f4","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"94630c6d.6b1f28","order":0,"width":"1","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":150,"y":100,"wires":[["4ffa6817.fb30b8"]]},{"id":"ce509913.e81868","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"fab35c5.aa46aa","order":0,"width":"1","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":150,"y":280,"wires":[["be8f25e3.6eb92"]]},{"id":"dcb46400.fa261","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"fab35c5.aa46aa","order":0,"width":"1","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":150,"y":320,"wires":[["be8f25e3.6eb92"]]},{"id":"98174165.f5eed8","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"94630c6d.6b1f28","order":0,"width":"2","height":"1","passthru":false,"label":"Lumineux","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":140,"wires":[["fc13562b.fee8e8"]]},{"id":"350ebe29.142552","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"94630c6d.6b1f28","order":0,"width":"2","height":"1","passthru":false,"label":"Atténué","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":180,"wires":[["cf9592a7.5f95a"]]},{"id":"37f4f0bc.dc57f8","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"94630c6d.6b1f28","order":0,"width":"2","height":"1","passthru":false,"label":"Veilleuse","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":220,"wires":[["2cd3a798.975f3"]]},{"id":"66135e7.391bc2","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"fab35c5.aa46aa","order":0,"width":"2","height":"1","passthru":false,"label":"Lumineux","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":360,"wires":[["ec65e744.426a7"]]},{"id":"fb08b68f.045cb","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"fab35c5.aa46aa","order":0,"width":"2","height":"1","passthru":false,"label":"Atténué","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":400,"wires":[["877e5343.4df3d8"]]},{"id":"64cacfce.225928","type":"ui_button","z":"56548b4c.aaf3d4","name":"","group":"fab35c5.aa46aa","order":0,"width":"2","height":"1","passthru":false,"label":"Veilleuse","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":160,"y":440,"wires":[["18f94b9e.ce3e14"]]},{"id":"65ee1151.d45f68","type":"hue-light","z":"51a52a27.a02fbc","name":"Hue white lamp 2","bridge":"62c03ae1.c4c0c4","lightid":"2","colornamer":true,"x":1030,"y":400,"wires":[[]]},{"id":"ec7fdf40.030928","type":"debug","z":"56548b4c.aaf3d4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":140,"wires":[]},{"id":"2e1334e7.fd9834","type":"function","z":"51a52a27.a02fbc","name":"ON","func":"msg.payload = msg.payload.on=true;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":400,"wires":[["65ee1151.d45f68"]]},{"id":"35e12b9f.7bac1c","type":"delay","z":"51a52a27.a02fbc","name":"Delay 5 min","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":400,"wires":[["d4d7e618.050f2"]]},{"id":"d4d7e618.050f2","type":"switch","z":"51a52a27.a02fbc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"PYRO-ALARM","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":400,"wires":[["2e1334e7.fd9834"]]},{"id":"514a4e87.200e1","type":"mqtt in","z":"704e3471.a2533c","name":"MTO_Arduino/pressure","topic":"stationUno/pressure","qos":"1","broker":"45e1e3fe.208abc","x":180,"y":300,"wires":[["1c9e5bf4.f7134c"]]},{"id":"1c9e5bf4.f7134c","type":"function","z":"704e3471.a2533c","name":"Float -> Number","func":"var new_payload = parseFloat(msg.payload);\nvar new_msg = { \"payload\" : new_payload};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["8ead30ad.8af398"]]},{"id":"4c6cb844.e3363","type":"influxdb out","z":"704e3471.a2533c","influxdb":"7c633203.a6e7f4","name":"","measurement":"pressArd_paris","precision":"","retentionPolicy":"","x":1020,"y":300,"wires":[]},{"id":"9874cbea.f50498","type":"delay","z":"704e3471.a2533c","name":"Delay 1h00","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":100,"wires":[[]]},{"id":"e30085e5.e801e8","type":"delay","z":"704e3471.a2533c","name":"Delay 1h00","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":180,"wires":[["47a54bdd.9f0ee4"]]},{"id":"8e5f8599.22f708","type":"delay","z":"704e3471.a2533c","name":"Delay 1h00","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":240,"wires":[["463a22e.ad1825c"]]},{"id":"8ead30ad.8af398","type":"delay","z":"704e3471.a2533c","name":"Delay 1h00","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":690,"y":300,"wires":[["4c6cb844.e3363"]]}]
