Projects/MTO-station/Flows backup/bkp_180911.txt
[{"id":"2e4c5566.f31c22","type":"tab","label":"MTO","disabled":false,"info":""},{"id":"704e3471.a2533c","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"910f4315.fcced","type":"darksky-credentials","z":"","key_identifier":"DarkSky"},{"id":"e562cca5.8aae","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"TempDB","usetls":false,"tls":""},{"id":"2f6bd9bc.646166","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":"humiditeDB","usetls":false,"tls":""},{"id":"7c633203.a6e7f4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"pression","name":"pressionDB","usetls":false,"tls":""},{"id":"65051756.c499c8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"pluie","name":"pluieDB","usetls":false,"tls":""},{"id":"e5a4419a.f82888","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"windd","name":"winddDB","usetls":false,"tls":""},{"id":"ac17f12f.208518","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"nuage","name":"nuageDB","usetls":false,"tls":""},{"id":"b231998c.9ae508","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"winds","name":"windsDB","usetls":false,"tls":""},{"id":"45e1e3fe.208abc","type":"mqtt-broker","z":"","name":"Arduino","broker":"192.168.1.11","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"e2c3b296.df5658","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"airquality","name":"airqualityDB","usetls":false,"tls":""},{"id":"aae23fbd.a582d8","type":"inject","z":"2e4c5566.f31c22","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["de66f218.cfb4b","d2c4a77d.37d5f8"]]},{"id":"de66f218.cfb4b","type":"darksky","z":"2e4c5566.f31c22","darksky":"910f4315.fcced","name":"Demain-Paris","lon":"2.3488000","lat":"48.8534100","date":"","time":"","mode":"node","lang":"fr","units":"si","x":340,"y":120,"wires":[["ab9b1eb7.0f9988","eca6151d.2461d8","9ac0c0fe.a02a88","52f82a14.deffec","5dc394f.128316c","7c690f51.2d8528","2e697489.189f94"]]},{"id":"d2c4a77d.37d5f8","type":"openweathermap","z":"2e4c5566.f31c22","name":"Current-Paris","wtype":"current","lon":"","lat":"","city":"Paris","country":"FR","language":"fr","x":330,"y":480,"wires":[["f65233e5.c9d2f8","6e6d7525.c9106c","6f50e45.b0bf49c","864828e7.b2d86"]]},{"id":"f65233e5.c9d2f8","type":"function","z":"2e4c5566.f31c22","name":"TempC","func":"msg.payload = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["f8107a50.7fc77"]]},{"id":"6e6d7525.c9106c","type":"function","z":"2e4c5566.f31c22","name":"HumiditeC","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["9d90e3d0.f952a"]]},{"id":"6f50e45.b0bf49c","type":"function","z":"2e4c5566.f31c22","name":"PressionC","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["ef64c934.a322c8"]]},{"id":"864828e7.b2d86","type":"function","z":"2e4c5566.f31c22","name":"WindSC","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":600,"wires":[["e893dcf2.10e878"]]},{"id":"ab9b1eb7.0f9988","type":"function","z":"2e4c5566.f31c22","name":"TempMaxF","func":"msg.payload = msg.payload.maxtemp;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["2f8b0e7f.b4edea","ba20d3ce.2c3268"]]},{"id":"9ac0c0fe.a02a88","type":"function","z":"2e4c5566.f31c22","name":"HumiditeF","func":"msg.payload = msg.payload.humidity *100;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["8100cb1c.27adb8"]]},{"id":"52f82a14.deffec","type":"function","z":"2e4c5566.f31c22","name":"WindSF","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":240,"wires":[["915b40ac.6a05e"]]},{"id":"5dc394f.128316c","type":"function","z":"2e4c5566.f31c22","name":"WindDF","func":"msg.payload = msg.payload.winddirection;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["2f476299.7c978e"]]},{"id":"ba20d3ce.2c3268","type":"debug","z":"2e4c5566.f31c22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":60,"wires":[]},{"id":"eca6151d.2461d8","type":"function","z":"2e4c5566.f31c22","name":"TempMinF","func":"msg.payload = msg.payload.mintemp;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["e70676cc.b83c68"]]},{"id":"f8107a50.7fc77","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e562cca5.8aae","name":"tempc_paris","measurement":"tempc_paris","precision":"","retentionPolicy":"","x":890,"y":480,"wires":[]},{"id":"9d90e3d0.f952a","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"2f6bd9bc.646166","name":"humc_paris","measurement":"humc_paris","precision":"","retentionPolicy":"","x":890,"y":520,"wires":[]},{"id":"ef64c934.a322c8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"7c633203.a6e7f4","name":"pressionc_paris","measurement":"pressionc_paris","precision":"","retentionPolicy":"","x":900,"y":560,"wires":[]},{"id":"e893dcf2.10e878","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"b231998c.9ae508","name":"windsc_paris","measurement":"windsc_paris","precision":"","retentionPolicy":"","x":890,"y":600,"wires":[]},{"id":"9ec1b902.f4f4c8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e5a4419a.f82888","name":"winddc_paris","measurement":"winddc_paris","precision":"","retentionPolicy":"","x":890,"y":640,"wires":[]},{"id":"2f8b0e7f.b4edea","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e562cca5.8aae","name":"tempmaxf_paris","measurement":"tempmaxf_paris","precision":"","retentionPolicy":"","x":900,"y":120,"wires":[]},{"id":"8100cb1c.27adb8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"2f6bd9bc.646166","name":"humf_paris","measurement":"humf_paris","precision":"","retentionPolicy":"","x":890,"y":200,"wires":[]},{"id":"915b40ac.6a05e","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"65051756.c499c8","name":"windsf_paris","measurement":"windsf_paris","precision":"","retentionPolicy":"","x":890,"y":240,"wires":[]},{"id":"2f476299.7c978e","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e5a4419a.f82888","name":"winddf_paris","measurement":"winddf_paris","precision":"","retentionPolicy":"","x":890,"y":280,"wires":[]},{"id":"e70676cc.b83c68","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"e562cca5.8aae","name":"tempminf_paris","measurement":"tempminf_paris","precision":"","retentionPolicy":"","x":900,"y":160,"wires":[]},{"id":"7c690f51.2d8528","type":"function","z":"2e4c5566.f31c22","name":"PluieF","func":"msg.payload = msg.payload.precipitation;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["905119a.f7419e8"]]},{"id":"2e697489.189f94","type":"function","z":"2e4c5566.f31c22","name":"NuagesF","func":"msg.payload = msg.payload.clouds;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["176256b9.6f1759"]]},{"id":"905119a.f7419e8","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"65051756.c499c8","name":"pluief_paris","measurement":"pluief_paris","precision":"","retentionPolicy":"","x":890,"y":320,"wires":[]},{"id":"176256b9.6f1759","type":"influxdb out","z":"2e4c5566.f31c22","influxdb":"ac17f12f.208518","name":"nuagef_paris","measurement":"nuagef_paris","precision":"","retentionPolicy":"","x":890,"y":360,"wires":[]},{"id":"1f2c52ca.7202dd","type":"mqtt in","z":"704e3471.a2533c","name":"MTO_Arduino/humidite","topic":"stationUno/humidite","qos":"1","broker":"45e1e3fe.208abc","x":180,"y":120,"wires":[["c60ea786.5bc56"]]},{"id":"edcdb5db.3ae4b","type":"debug","z":"704e3471.a2533c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":80,"wires":[]},{"id":"47a54bdd.9f0ee4","type":"influxdb out","z":"704e3471.a2533c","influxdb":"e562cca5.8aae","name":"tempArd_paris","measurement":"tempArd_paris","precision":"","retentionPolicy":"","x":980,"y":180,"wires":[]},{"id":"98f9f7bc.5f87e8","type":"influxdb out","z":"704e3471.a2533c","influxdb":"2f6bd9bc.646166","name":"humArd_paris","measurement":"humArd_paris","precision":"","retentionPolicy":"","x":980,"y":120,"wires":[]},{"id":"81b2630a.173c7","type":"mqtt in","z":"704e3471.a2533c","name":"MTO_Arduino/temperature","topic":"stationUno/temperature","qos":"2","broker":"45e1e3fe.208abc","x":190,"y":180,"wires":[["f7c3afa1.325438"]]},{"id":"28a6c28a.b5b37e","type":"mqtt in","z":"704e3471.a2533c","name":"MTO_Arduino/ppm","topic":"stationUno/ppm","qos":"1","broker":"45e1e3fe.208abc","x":170,"y":240,"wires":[["8b63926d.9cfb1","edcdb5db.3ae4b"]]},{"id":"463a22e.ad1825c","type":"influxdb out","z":"704e3471.a2533c","influxdb":"e2c3b296.df5658","name":"ppmArd_paris","measurement":"ppmArd_paris","precision":"","retentionPolicy":"","x":980,"y":240,"wires":[]},{"id":"c60ea786.5bc56","type":"function","z":"704e3471.a2533c","name":"Float -> Number","func":"var new_payload = parseFloat(msg.payload);\nvar new_msg = { \"payload\" : new_payload};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":120,"wires":[["98f9f7bc.5f87e8"]]},{"id":"f7c3afa1.325438","type":"function","z":"704e3471.a2533c","name":"Float -> Number","func":"var new_payload = parseFloat(msg.payload);\nvar new_msg = { \"payload\" : new_payload};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["47a54bdd.9f0ee4"]]},{"id":"8b63926d.9cfb1","type":"function","z":"704e3471.a2533c","name":"Float -> Number","func":"var new_payload = parseFloat(msg.payload);\nvar new_msg = { \"payload\" : new_payload};\nreturn new_msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["463a22e.ad1825c"]]}]
