Projects/MTO-station/Flows backup/node-red_Paris
[{"id":"9de6a7fb.ac2578","type":"tab","label":"MTO-InfluxDB","disabled":false,"info":""},{"id":"72aa7749.9cf9f","type":"inject","z":"9de6a7fb.ac2578","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":160,"wires":[["31fe8891.4da1c","9a3a0fda.c616c8"]]},{"id":"31fe8891.4da1c","type":"openweathermap","z":"9de6a7fb.ac2578","name":"Current PARIS","wtype":"current","lon":"","lat":"","city":"Paris","country":"FR","language":"fr","x":410,"y":160,"wires":[["93b6b664.d411d","231c9f96.f3c3c8","87e427db.e956c","61759ac2.c17324","6939f824.8b3908","730cb889.72357"]]},{"id":"93b6b664.d411d","type":"function","z":"9de6a7fb.ac2578","name":"TempC","func":"msg.payload = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["f9ba1594.679888"]]},{"id":"f9ba1594.679888","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"6c93ea10.511824","name":"TempC_InfluxDB","measurement":"tempc","precision":"","retentionPolicy":"","x":910,"y":160,"wires":[]},{"id":"231c9f96.f3c3c8","type":"function","z":"9de6a7fb.ac2578","name":"Humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["aefd7af9.d62a88"]]},{"id":"87e427db.e956c","type":"function","z":"9de6a7fb.ac2578","name":"Pressure","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["bcb9eb6e.f4e9d"]]},{"id":"61759ac2.c17324","type":"function","z":"9de6a7fb.ac2578","name":"WindS","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":280,"wires":[["1e6aa1c2.03518e"]]},{"id":"aefd7af9.d62a88","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"c931afb3.9e9da8","name":"Humidity_InfluxDB","measurement":"humidity","precision":"","retentionPolicy":"","x":910,"y":200,"wires":[]},{"id":"bcb9eb6e.f4e9d","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"3f1bcf7d.de39d","name":"Pressure_InfluxDB","measurement":"pressure","precision":"","retentionPolicy":"","x":910,"y":240,"wires":[]},{"id":"1e6aa1c2.03518e","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"ea2087dc.359c18","name":"WindS_InfluxDB","measurement":"windspeed","precision":"","retentionPolicy":"","x":900,"y":280,"wires":[]},{"id":"730cb889.72357","type":"debug","z":"9de6a7fb.ac2578","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":880,"y":80,"wires":[]},{"id":"9a3a0fda.c616c8","type":"openweathermap","z":"9de6a7fb.ac2578","name":"Current REIMS","wtype":"current","lon":"","lat":"","city":"reims","country":"FR","language":"fr","x":420,"y":460,"wires":[["e7c2035a.95d22","7123e2e9.290b84","df536275.0fe42","fbbaf683.c46d","5cb49d63.f354f4"]]},{"id":"e7c2035a.95d22","type":"function","z":"9de6a7fb.ac2578","name":"TempC","func":"msg.payload = msg.payload.tempc;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["99c0e886.0763f"]]},{"id":"99c0e886.0763f","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"6c93ea10.511824","name":"TempC_Reims","measurement":"tempc_reims","precision":"","retentionPolicy":"","x":900,"y":460,"wires":[]},{"id":"7123e2e9.290b84","type":"function","z":"9de6a7fb.ac2578","name":"Humidity","func":"msg.payload = msg.payload.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["ab00d911.39d25"]]},{"id":"df536275.0fe42","type":"function","z":"9de6a7fb.ac2578","name":"Pressure","func":"msg.payload = msg.payload.pressure;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":540,"wires":[["5ce1202b.6ad36"]]},{"id":"fbbaf683.c46d","type":"function","z":"9de6a7fb.ac2578","name":"WindS","func":"msg.payload = msg.payload.windspeed;\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":580,"wires":[["6ce6f8f0.fde7d"]]},{"id":"ab00d911.39d25","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"c931afb3.9e9da8","name":"Humidity_InfluxDB","measurement":"humidity_reims","precision":"","retentionPolicy":"","x":910,"y":500,"wires":[]},{"id":"5ce1202b.6ad36","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"3f1bcf7d.de39d","name":"Pressure_InfluxDB","measurement":"pressure_reims","precision":"","retentionPolicy":"","x":910,"y":540,"wires":[]},{"id":"6ce6f8f0.fde7d","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"ea2087dc.359c18","name":"WindS_InfluxDB","measurement":"windspeed_reims","precision":"","retentionPolicy":"","x":900,"y":580,"wires":[]},{"id":"6939f824.8b3908","type":"function","z":"9de6a7fb.ac2578","name":"Clouds","func":"msg.payload = msg.payload.clouds;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":320,"wires":[["3d40377b.e9b4f","730cb889.72357"]]},{"id":"3d40377b.e9b4f","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"54f59223.5d8924","name":"Clouds_InfluxDB","measurement":"clouds_paris","precision":"","retentionPolicy":"","x":910,"y":320,"wires":[]},{"id":"5cb49d63.f354f4","type":"function","z":"9de6a7fb.ac2578","name":"Clouds","func":"msg.payload = msg.payload.clouds;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":620,"wires":[["730cb889.72357","d5f56383.77aef8"]]},{"id":"d5f56383.77aef8","type":"influxdb out","z":"9de6a7fb.ac2578","influxdb":"54f59223.5d8924","name":"Clouds_InfluxDB","measurement":"clouds_reims","precision":"","retentionPolicy":"","x":910,"y":620,"wires":[]},{"id":"6c93ea10.511824","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mto_tempc","name":"TempC_DB","usetls":false,"tls":""},{"id":"c931afb3.9e9da8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mto_humidity","name":"Humidity_DB","usetls":false,"tls":""},{"id":"3f1bcf7d.de39d","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mto_pressure","name":"Pressure_DB","usetls":false,"tls":""},{"id":"ea2087dc.359c18","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mto_winds","name":"WindS_DB","usetls":false,"tls":""},{"id":"54f59223.5d8924","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"mto_co2","name":"","usetls":false,"tls":""}]
